body {
    background-color: rgb(228, 141, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: rgb(231, 219, 243); */
    border: 2px solid rgb(244, 202, 251);
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: solid 1px rgb(223, 176, 232)
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 2;
    padding-top: 40px;
    border-right: solid 1px rgb(223, 176, 232)
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px rgb(223, 176, 232)
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: pink;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader {
    float: right;
}